<h1><p style = "font-family:georgia,garamond,serif;font-size:40px;font-style:italic;">My name is <%=@name%></p></h1>
<div>
<img style='border: 5px dashed blue' src='http://bit.ly/1eze8aE' width="500" height="360">
</div>
